.loginMain {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 15px;
}
.loginContainer {
    padding: 15px;

}

@media only screen and (max-width: 500px) {
    .loginMain {
        margin: auto;
        width: 95%;
        text-align: center;
        padding: 15px;
    }
}